In [2]:
import os
import sys
src_dir = os.path.join('..', 'src')
sys.path.append(os.path.abspath(src_dir))

from data import get_dataset

In [3]:
data = get_dataset()
data

../../data/datasets/timeseries_v4.1.csv

        post_id  ... cumsum
0        l0hnrw  ...  105.0
1        l0hnrw  ...  167.0
2        l0hnrw  ...  235.0
3        l0hnrw  ...  319.0
4        l0hnrw  ...  379.0
...         ...  ...    ...
2302843  l6yy64  ...    0.0
2302844  l6yy64  ...    0.0
2302845  l6yy64  ...    0.0
2302846  l6yy64  ...    0.0
2302847  l6yy64  ...    0.0

[2302848 rows x 5 columns]